/*Adminision*/
.admision{
    margin-bottom: 40px;
    margin-top: 40px;
}

.admision-title{
    background-color: #1e51be;
    color: #fff;
    padding: 20px;
}
.admision .col-md-4{
    max-width: 380px !important;
    padding: 10px;
    border: 10px solid var(--bg-hover);
    border-radius: 5px;
    margin: 2px;
    border-style:dotted;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-align: center;
}
/*Illustracion*/
.illustration{
    width: 150px;
}

.admision .col-md-4 .col-md-6{
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row{
    gap: 2em;
    column-gap: 0em;
}

.contact-text{
    font-size: 20px;
}

.fa-solid{
    margin-right: 20px;
}

.contact-text p{
    padding-left: 40px;
}

.contact-text a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.contact-text a:hover{
    color: #8f2d56;
    text-decoration: none;
}

#form-contact label{
    margin-bottom: 10px;
    color: #fff;
    font-size: 17px;
}

#form-contact input{
    padding-left: 32px;
}

.name{
    background-image: url(../img/svg_icons/name.svg);
    background-repeat:no-repeat;
    background-position: left;
}

.email{
    background-image: url(../img/svg_icons/email.svg);
    background-repeat:no-repeat;
    background-position: left;
}

.phone{
    background-image: url(../img/svg_icons/phone.svg);
    background-repeat:no-repeat;
    background-position: left;
}

.periodos{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    gap: 6.9em;
}

.periodos div{
    text-align: center;;
}

.periodos span{
    font-size: 17px;
    color: rgba(255, 255, 255, 0.993);
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

.date{
    color: red !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px !important;
}

.day{
    font-size: 35px !important;
    font-weight: 600;
    border-radius: 50%;
    padding: 20px !important;
    background-color: #fff;;
    min-width: 50px;
    max-width: 50px;
    width: 50px;
    min-height: 50px;
    max-height: 50px;
    height: 50px;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    color: red !important;
}